@import "tailwindcss";

body {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--bg-primary);
    color: var(--color-light);
}

:root {
    --color-primary: #1f1f1f;
    --color-secondary: #ddf160;
    --color-light: #ffffff;
    --bg-primary: #161616;
    --bg-secondary:#ffffff08;
    --color-border: #2d2d2d;
    --color-border-2:#ffffff0d;
    /* --bg-navbar:#28282866; */
}